
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerNav {
    position: fixed;
    left: calc(45%);
    background-color: #fff;
    border-radius: 5px;
    background-attachment: fixed;
}


.container ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container ul li {
    display: inline-block;
    padding: 20px;
    font-size: 17pt;
    font-family: monospace;
    text-align: center;
}

.container ul li:hover {
    scale: 1.07;
    transition: 1s;
}

.container ul li a {
    text-decoration: none;
    color: aliceblue;
}

.container ul li a:hover {
    color: red;
    transition: 1s;
}